.element {
	background: -webkit-filter(url("path/to/img.jpg"), blur(5px));
	background: filter(url("path/to/img.jpg"), blur(5px));
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	-webkit-filter: blur(10px);
	filter: blur(10px);
}