div {
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-moz-background-origin: border-box;
	-webkit-background-origin: border-box;
	-o-background-origin: border-box;
	background-origin: border-box;
	-moz-background-clip: border-box;
	-webkit-background-clip: border-box;
	-o-background-clip: border-box;
	background-clip: border-box;
	background-image: -webkit-cross-fade(url("logo-box.png"), url("logo-bare.png"), 0%);
	background-image: cross-fade(url("logo-box.png"), url("logo-bare.png"), 0%);
}