div {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
}
section {
	-moz-border-block-start: 2px solid green;
	-webkit-border-block-start: 2px solid green;
	border-block-start: 2px solid green;
	-moz-border-inline-end: 1px blue;
	-webkit-border-inline-end: 1px blue;
	border-inline-end: 1px blue;
}
article {
	-moz-border-image: url("/images/border.png") 30 30 repeat;
	-webkit-border-image: url("/images/border.png") 30 30 repeat;
	-o-border-image: url("/images/border.png") 30 30 repeat;
	border-image: url("/images/border.png") 30 30 repeat;
}