div {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
}
section {
	-webkit-border-start: 2px solid green;
	-moz-border-start: 2px solid green;
	border-start: 2px solid green;
	-webkit-border-end-color: blue;
	-moz-border-end-color: blue;
	border-end-color: blue;
	-webkit-border-after: 1px solid;
	border-after: 1px solid;
	-webkit-border-before-width: 2px dotted;
	border-before-width: 2px dotted;
}
article {
	-moz-border-image: url("/images/border.png") 30 30 repeat;
	-o-border-image: url("/images/border.png") 30 30 repeat;
	-webkit-border-image: url("/images/border.png") 30 30 repeat;
	border-image: url("/images/border.png") 30 30 repeat;
}