article {
	text-align-last: left;
	text-decoration-color: blue;
	text-decoration-style: dotted;
	font-feature-settings: "smcp" on;
	hyphens: none;
	tab-size: 4;
	text-size-adjust: 80%;
	text-overflow: ellisis;
	font-kerning: none;
}
