@-moz-keyframes transform {
	0% {
		-moz-transform: rotate(45deg) scale(1, 1);
		transform: rotate(45deg) scale(1, 1);
	}
	100% {
		-moz-transform: rotate(-45deg) scale(2, 2);
		transform: rotate(-45deg) scale(2, 2);
	}
}
@-o-keyframes transform {
	0% {
		-o-transform: rotate(45deg) scale(1, 1);
		transform: rotate(45deg) scale(1, 1);
	}
	100% {
		-o-transform: rotate(-45deg) scale(2, 2);
		transform: rotate(-45deg) scale(2, 2);
	}
}
@-webkit-keyframes transform {
	0% {
		-webkit-transform: rotate(45deg) scale(1, 1);
		transform: rotate(45deg) scale(1, 1);
	}
	100% {
		-webkit-transform: rotate(-45deg) scale(2, 2);
		transform: rotate(-45deg) scale(2, 2);
	}
}
@keyframes transform {
	0% {
		-moz-transform: rotate(45deg) scale(1, 1);
		-webkit-transform: rotate(45deg) scale(1, 1);
		-o-transform: rotate(45deg) scale(1, 1);
		-ms-transform: rotate(45deg) scale(1, 1);
		transform: rotate(45deg) scale(1, 1);
	}
	100% {
		-moz-transform: rotate(-45deg) scale(2, 2);
		-webkit-transform: rotate(-45deg) scale(2, 2);
		-o-transform: rotate(-45deg) scale(2, 2);
		-ms-transform: rotate(-45deg) scale(2, 2);
		transform: rotate(-45deg) scale(2, 2);
	}
}
div ::-moz-selection {
	-moz-transition: all 2s;
	transition: all 2s;
}
div ::selection {
	-moz-transition: all 2s;
	-o-transition: all 2s;
	-webkit-transition: all 2s;
	transition: all 2s;
}