@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes fadeIn {
	from {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
div {
	-webkit-animation: fadeIn 2s infinity;
	-o-animation: fadeIn 2s infinity;
	-moz-animation: fadeIn 2s infinity;
	animation: fadeIn 2s infinity;
}