input ::-ms-input-placeholder {
	color: blue;
}
input ::-webkit-input-placeholder {
	color: blue;
}
input ::-moz-placeholder {
	color: blue;
}
input ::input-placeholder {
	color: blue;
}
div ::-moz-selection {
	color: red;
	background: white;
}
div ::selection {
	color: red;
	background: white;
}